@model List<GameGetVM>

@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content -->
<section class="content-wrap">

    <!-- Banner -->
    <section class="youplay-banner banner-top youplay-banner-parallax">
        <div class="image" style="background-image:url('@Url.Content("~/dark/assets/images/banner-bg.jpg")')">
            </div>

        <div class="info">
            <div>
                <div class="container">
                    <h1>Diablo III: <br>Reaper of Souls</h1>
                    <em>"One of the best grind games"</em>
                    <br>
                    <br>
                    <br>
                    <a class="btn btn-lg" href="#!">Purchase</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /Banner -->
    <!-- Images With Text -->
    <div class="youplay-carousel owl-carousel owl-loaded owl-drag youplay-carousel-1" data-autoplay="5000">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-300px, 0px, 0px); transition: 0.25s; width: 6125px; padding-left: 70px; padding-right: 70px;">
                
                @foreach (var item in Model)
                {
                    <div class="owl-item cloned" style="width: 315px; height: 237px">
                        <a class="angled-img" href="#!">
                            <div class="img">
                                <img src="@item.GameImages[0].ImageUrl" alt="">
                            </div>
                            <div class="over-info">
                                <div>
                                    <div>
                                        <h4>@item.Title</h4>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }                

            </div>
        </div><div class="owl-nav"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div>
    </div>
    <!-- /Images With Text -->
    <!-- Popular -->
    <h2 class="container h1">Popular <a href="#!" class="btn pull-right">See More</a></h2>
    <div class="youplay-carousel owl-carousel owl-loaded owl-drag youplay-carousel-2">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-300px, 0px, 0px); transition: 0.25s; width: 3920px; padding-left: 70px; padding-right: 70px;">
                <div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Kingdoms of Amalur: Reckoning</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-the-witcher-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>The Witcher: Rise of the White Wolf</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-diablo-iii-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Diablo III: Reaper of Souls</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-dragons-dogma-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Dragons Dogma</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item active" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Kingdoms of Amalur: Reckoning</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item active" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-the-witcher-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>The Witcher: Rise of the White Wolf</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item active" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-diablo-iii-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Diablo III: Reaper of Souls</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item active" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-dragons-dogma-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Dragons Dogma</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Kingdoms of Amalur: Reckoning</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-the-witcher-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>The Witcher: Rise of the White Wolf</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-diablo-iii-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Diablo III: Reaper of Souls</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><div class="owl-item cloned" style="width: 315px;">
                    <a class="angled-img" href="#!">
                        <div class="img">
                            <img src="~/dark/assets/images/game-dragons-dogma-500x375.jpg" alt="">
                        </div>
                        <div class="over-info">
                            <div>
                                <div>
                                    <h4>Dragons Dogma</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div>
    </div>
    <!-- /Popular -->
    <!-- Sales -->
    <h2 class="container h1">Special Deals <a href="#!" class="btn pull-right">See More</a></h2>
    <div class="youplay-carousel owl-carousel owl-loaded owl-drag youplay-carousel-3">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-300px, 0px, 0px); transition: 0.25s; width: 3920px; padding-left: 70px; padding-right: 70px;">
                
                @foreach (var item in Model)
                {
                    if (item.Discount > 0)
                    {
                        <div class="owl-item cloned" style="width: 315px;">
                            <a class="angled-img" href="#!">
                                <div class="img img-offset">
                                    <img src="@item.GameImages[0].ImageUrl" alt="">
                                    <div class="badge bg-default">
                                        -@item.Discount %
                                    </div>
                                </div>
                                <div class="bottom-info">
                                    <h4>@item.Title</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="price">
                                                $@item.SalePrice
                                                <sup><del>$@item.CostPrice</del></sup>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                
            </div>
        </div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div>
    </div>
    <!-- /Specials -->
    <!-- Preorder -->
    <div class="h2"></div>
    <section class="youplay-banner youplay-banner-parallax small">
        <div class="image" style="background-image:url('@Url.Content("~/dark/assets/images/banner-witcher-3.jpg")')">
        </div>

        <div class="info container align-center">
            <div>
                <h2>The Witcher 3:<br> Wild Hunt</h2>

                <!-- See countdown init in bottom of the page -->
                <div class="countdown h2" data-end="2017/01/01"></div>

                <br>
                <br>
                <a class="btn btn-lg" href="#!">Pre-Order</a>
            </div>
        </div>
    </section>
    <!-- /Preorder -->
    <!-- Latest News -->
    <h2 class="container h1">Latest News</h2>
    <section class="youplay-news container">
        <!-- Single News Block -->
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a href="blog-post-1.html" class="angled-img">
                        <div class="img">
                            <img src="~/dark/assets/images/game-bloodborne-500x375.jpg" alt="">
                        </div>
                        <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="9.1 out of 10">
                            <span>9.1</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Bloodborne - First Try!</a></h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> Today</span>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>  <a href="#">Bloodborne</a>, <a href="#">first try</a>, <a href="#">first boss problem</a>, <a href="#">newbie game</a>
                    </div>
                    <div class="description">
                        <p>
                            Gus sit amet suum motum. Nescio quando, aut quomodo, nescio quo. Illud scio, amet tortor. Suarum impotens prohibere eum.
                        </p>
                        <p>
                            Sum expectantes. Ego hodie expectantes. Expectantes, et misit unum de pueris Gus interficere. Et suus vos. Nescio quis, qui est bonus usus liberi ad Isai? Qui nosti ... Quis dimisit filios ad necem ... hmm? Gus!
                        </p>
                    </div>
                    <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
                </div>
            </div>
        </div>
        <!-- /Single News Block -->
        <!-- Single News Block -->
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a href="blog-post-2.html" class="angled-img">
                        <div class="img">
                            <img src="~/dark/assets/images/game-dark-souls-ii-500x375.jpg" alt="">
                        </div>
                        <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="9 out of 10">
                            <span>9</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h2 pull-left m-0"><a href="blog-post-2.html">Coming to Youplay - Dark Souls II</a></h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> March 9, 2015</span>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>  <a href="#">Dark Souls II</a>, <a href="#">coming soon</a>, <a href="#">first review</a>, <a href="#">sale date</a>
                    </div>
                    <div class="description">
                        Ille vivere. Ut ad te quaerebam ... purgare caeli. Sunt uh ... nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa. Levir meus, priusquam oppugnarent tempus quis, admonere dicitur. Credo quod idem mihi praesidium.
                    </div>
                    <a href="blog-post-2.html" class="btn read-more pull-left">Read More</a>
                </div>
            </div>
        </div>
        <!-- /Single News Block -->
        <!-- Single News Block -->
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a href="blog-post-3.html" class="angled-img">
                        <div class="img">
                            <img src="~/dark/assets/images/game-kingdoms-of-amalur-reckoning-500x375.jpg" alt="">
                        </div>
                        <div class="youplay-hexagon-rating youplay-hexagon-rating-small" data-max="10" data-size="50" title="3.8 out of 10">
                            <span>3.8</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h2 pull-left m-0"><a href="blog-post-3.html">Review Kingdoms of Amalur</a></h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> March 1, 2015</span>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i>  <a href="#">Kingdoms of Amalur</a>, <a href="#">game</a>, <a href="#">review</a>
                    </div>
                    <div class="description">
                        Quod satis pecuniae sempiternum. Ut sciat oportet motum. Nunquam invenies eum. Hic de tabula. Ego vivere, ut debui, et nunc fiant. Istuc quod opus non est. Lorem ipsum occurrebat pragmaticam semper ut, si quis ita velim tibi bene recognoscere. Quorum
                        duo te mihi videtur.
                    </div>
                    <a href="blog-post-3.html" class="btn read-more">Read More</a>
                </div>
            </div>
        </div>
        <!-- /Single News Block -->
    </section>
    <!-- /Latest News -->
    <!-- Partners -->
    <section class="youplay-banner youplay-banner-parallax small mt-80">
        <div class="image" style="background-image: none; background-attachment: scroll; background-size: auto;" data-jarallax-original-styles="background-image: url('@Url.Content("~/dark/assets/images/banner-bg.jpg")');">
            <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url('@Url.Content("~/dark/assets/images/banner-bg.jpg")'); top: 0px; left: 0px; width: 1399.8px; height: 644.908px; overflow: hidden; pointer-events: none; margin-top: -154.954px; visibility: visible; transform: translate3d(0px, -29.22px, 0px);"></div></div>
        </div>

        <div class="info align-center">
            <div>
                <h2 class="mb-40">Partners</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="owl-carousel owl-loaded owl-drag youplay-carousel-0" data-autoplay="6000">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1936px, 0px, 0px); transition: 0.6s; width: 3874px;">
                                    <div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-3.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-4.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-5.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-6.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-7.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-8.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-1.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-2.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-3.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-4.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-5.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-6.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-7.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-8.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-1.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned active" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-2.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-3.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-4.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-5.png" alt="">
                                            </a>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 193.667px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="~/dark/assets/images/partner-logo-6.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Partners -->
    <!-- Features -->
    <h2 class="container h1">Why Buy from Us</h2>
    <section class="youplay-features container">
        <div class="col-md-3 col-sm-6">
            <a class="feature angled-bg" href="#">
                <i class="fa-brands fa-cc-visa"></i>
                <h3>Payment</h3>
                <small>More than 10 payment systems</small>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="feature angled-bg">
                <i class="fa fa-gamepad"></i>
                <h3>Games</h3>
                <small>A large number of games</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="feature angled-bg">
                <i class="fa-solid fa-coins"></i>
                <h3>Cheap</h3>
                <small>Lowest prices on the Internet</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="feature angled-bg">
                <i class="fa fa-users"></i>
                <h3>Community</h3>
                <small>The largest gaming community</small>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="youplay-footer-parallax">
        <div class="wrapper" style="background-image:url('@Url.Content("~/dark/assets/images/footer-bg.jpg")')>

            <!-- Social Buttons -->
            <div class="social">
                <div class="container">
                    <h3>Connect socially with <strong>youplay</strong></h3>

                    <div class="social-icons">
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa-brands fa-facebook"></i>
                                <span>Like on Facebook</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa-brands fa-twitter"></i>
                                <span>Follow on X</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa-brands fa-discord"></i>
                                <span>Join on Discord</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa-brands fa-youtube"></i>
                                <span>Watch on Youtube</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Social Buttons -->
            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <strong>nK</strong> &copy; 2016. All rights reserved
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </footer>
    <!-- /Footer -->

</section>
<!-- /Main Content -->
